
# dependencies
node_modules

# production
build
dist

# development
.idea
.vscode
.rpt2_cache
/docs/demo
/react-lattice-*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store

